    .head {
        color: crimson;
        font-size: xx-large;
        font-weight: 600;
    }
    
    body {
        background-color: gainsboro;
    }
    
    .card {
        background-color: rgb(181, 198, 247);
        box-shadow: rgb(129, 126, 126);
    }